[submodule "plugins/readme-craft"]
	path = plugins/readme-craft
	url = https://github.com/drewburchfield/readme-craft.git
[submodule "plugins/subscription-cleanse"]
	path = plugins/subscription-cleanse
	url = https://github.com/drewburchfield/subscription-cleanse.git
[submodule "plugins/markdown-to-confluence"]
	path = plugins/markdown-to-confluence
	url = https://github.com/drewburchfield/markdown-to-confluence.git
[submodule "plugins/cre-property-research"]
	path = plugins/cre-property-research
	url = https://github.com/drewburchfield/cre-property-research.git
[submodule "plugins/1password-management"]
	path = plugins/1password-management
	url = https://github.com/drewburchfield/1password-management.git
[submodule "plugins/linkedin-message-triage"]
	path = plugins/linkedin-message-triage
	url = https://github.com/drewburchfield/linkedin-message-triage.git
[submodule "plugins/helpscout-navigator"]
	path = plugins/helpscout-navigator
	url = https://github.com/drewburchfield/helpscout-navigator.git
[submodule "plugins/project-bootstrap"]
	path = plugins/project-bootstrap
	url = https://github.com/drewburchfield/project-bootstrap.git
[submodule "plugins/braintrust"]
	path = plugins/braintrust
	url = https://github.com/drewburchfield/braintrust.git
[submodule "plugins/happenstance"]
	path = plugins/happenstance
	url = https://github.com/drewburchfield/happenstance-navigator.git
